In [52]:
#This is the script written accorting to the Youtube video (https://www.youtube.com/watch?v=f8FXUUQ4uRA)

#! pip install Selenium

In [53]:
#!brew install webdriver

In [54]:
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [55]:
browser = webdriver.Chrome()

In [56]:
browser = webdriver.Chrome()
url = "https://scraping-for-beginner.herokuapp.com/login_page"
browser.get(url)

In [57]:
#Get the element what I want by ID
elem_username = browser.find_element(By.ID,"username")
elem_username.send_keys("imanishi")

In [58]:
elem_password = browser.find_element(By.ID,"password")
elem_password.send_keys("kohei")

In [59]:
elem_button = browser.find_element(By.ID,"login-btn")
elem_button.click()
#Finish logged in

In [60]:
"""headless mode(Don't open the web browser)

from selenium.webdriver.chrome.options import Options
options = Options()
options.add_argument("--headless")

browser = webdriver.Chrome(options=options)
url = "https://scraping-for-beginner.herokuapp.com/login_page"
browser.get(url)
browser.quit()

"""

'headless mode(Don\'t open the web browser)\n\nfrom selenium.webdriver.chrome.options import Options\noptions = Options()\noptions.add_argument("--headless")\n\nbrowser = webdriver.Chrome(options=options)\nurl = "https://scraping-for-beginner.herokuapp.com/login_page"\nbrowser.get(url)\nbrowser.quit()\n\n'

In [61]:
elem = browser.find_element(By.ID,"name")
elem.text

'今西 航平'

In [62]:
elem = browser.find_element(By.ID,"company")
elem.text

'株式会社キカガク'

In [64]:
elem = browser.find_element(By.ID,"birthday")
elem.text

'1994年7月15日'

In [67]:
elem = browser.find_element(By.ID,"hobby")
hobby = elem.text
#replace character
hobby = hobby.replace("\n",",")
hobby

'バスケットボール,読書,ガジェット集め'

In [70]:
#Get the first table
elem_th = browser.find_element(By.TAG_NAME,"th")
elem_th.text

'講師名'

In [75]:
#Get multiple tables
elems_th = browser.find_elements(By.TAG_NAME,"th")
elems_th
#We could get 5 tables

[<selenium.webdriver.remote.webelement.WebElement (session="97a74878a3118dd66b33592b0268a38b", element="60a43ea5-10ac-4620-a5e9-401905686da3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97a74878a3118dd66b33592b0268a38b", element="8a291d34-cffb-4634-9508-488f5733ef27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97a74878a3118dd66b33592b0268a38b", element="ccfd1b0d-6d7c-4e96-9a66-c849e87dc6cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97a74878a3118dd66b33592b0268a38b", element="94d99d36-f2ba-4dab-ba89-cf7150e9f126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97a74878a3118dd66b33592b0268a38b", element="2e1d2e14-66a8-4d3b-8272-ebf31297cdab")>]

In [76]:
elems_th[4].text

'趣味'

In [81]:
#make a dictionary 
keys = []
for elem_th in elems_th :
    key = elem_th.text
    keys.append(key)

講師名
所属企業
生年月日
出身
趣味

In [82]:
keys

['講師名', '所属企業', '生年月日', '出身', '趣味']

In [84]:
elems_td = browser.find_elements(By.TAG_NAME,"td")
values = []
for elem_td in elems_td :
    value = elem_td.text
    values.append(value)

In [85]:
values

['今西 航平', '株式会社キカガク', '1994年7月15日', '千葉県', 'バスケットボール\n読書\nガジェット集め']

In [87]:
#Output CSV
import pandas as pd 
df = pd.DataFrame()

df["項目"] = keys
df["値"] = values

df

     項目                      値
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め

In [88]:
df.to_csv("講師情報.csv")